@ContentSize: 500px;
@import "../../styles/center.less";

.NoFoundContent {
  #center.absolute();
  width: @ContentSize;
  height: @ContentSize;

  lottie-player {
    display: inline-block;
    padding-right: 50px;
  }
  h1 {
    display: inline-block;
    margin-top: -20px;
    position: absolute;
    line-height: @ContentSize;
  }
}



