@ContentSize: 500px;
@import "../../styles/center.less";

.NoFoundContent {
  position: absolute;
  #center.absolute();
  width: @ContentSize;
  height: @ContentSize;
}

lottie-player {
  display: inline-block;
  padding-right: 90px;
}

h1 {
  display: inline-block;
  position: absolute;
  line-height: @ContentSize;
}