#center .absolute {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#center .relative {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.NoFoundContent {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 500px;
}
.NoFoundContent lottie-player {
  display: inline-block;
  padding-right: 50px;
}
.NoFoundContent h1 {
  display: inline-block;
  margin-top: -20px;
  position: absolute;
  line-height: 500px;
}
