#center .absolute {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#center .relative {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.site-layout-content {
  height: 1000px;
  background-color: pink;
}
