#center .absolute {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#center .relative {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
div {
  margin: 0;
  padding: 0;
}
.content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  top: 40%;
  display: flex;
  align-items: center;
  vertical-align: middle;
}
.content .image lottie-player {
  padding: 0;
}
